body {
    min-height: 100vh;
    max-height: 100vh;
    padding: 0;
    margin: 0;
    display: grid;
    font-family: 'Varela Round';
    background-color: green;
}

.popup {
    position: absolute;
}

#gamecontainer {
    justify-self: center;
    position: relative;
    top: 0;
    overflow:hidden;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
    display: grid;
    height: calc(100vh - 100px);
    width: calc(100vh - 100px);
    margin: 50px;
    
}

#gamecontainer > div {
    min-width: 0; /* Minimum width of each grid square */
    min-height: 0; /* Minimum height of each grid square */
    overflow: visible; /* Allow content to overflow outside */
    box-sizing: border-box; /* Ensures border is included in dimensions */
}